In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("mart.csv")

In [3]:
dataset

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
x=dataset.iloc[:,1:-1]
y=dataset.iloc[:,-1]

In [5]:
y

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [6]:
x

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store
4,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1
8519,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1
8521,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1

In [7]:
d = {
    
    'Low Fat' : 0,
    'Regular' : 1
}

x['Item_Fat_Content'] = x['Item_Fat_Content'].map(d)

In [8]:
d = {
    
    'Grocery Store' : 0,
    'Supermarket Type1' : 1,
    'Supermarket Type2' : 2,
    'Supermarket Type3' : 3
}

x['Outlet_Type'] = x['Outlet_Type'].map(d)

In [9]:
d = {
    
    'tier 1' : 1,
    'tier 2' : 2,
    'tier 3' : 3
    
}
x['Outlet_Location_Type'] = x['Outlet_Location_Type'].map(d)

In [10]:
d = {
    
    'Medium' :1,
    'High' : 2,
    'Small' : 0
}

x['Outlet_Size'] = x['Outlet_Size'].map(d)

In [11]:
d = {
    
    'Dairy' : 0,
    'Soft Drinks' : 1,
    'Meat' : 2,
    'Fruits and Vegetables' : 3,
    'Household' : 4,
    'Baking Goods' : 5,
    'Snack Foods' : 6,
    'Frozen Foods' : 7,
    'Breakfast' : 8,
    'Health and Hygiene' : 9,
    'Hard Drinks' : 10,
    'Canned' : 11,
    'Breads' : 12,
    'Starchy Foods' : 13,
    'Others' : 14,
    'Seafood' : 15 
    
}

x['Item_Type'] = x['Item_Type'].map(d)

In [12]:
x

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,9.300,0.0,0.016047,0,249.8092,OUT049,1999,1.0,NaN,1
1,5.920,1.0,0.019278,1,48.2692,OUT018,2009,1.0,NaN,2
2,17.500,0.0,0.016760,2,141.6180,OUT049,1999,1.0,NaN,1
3,19.200,1.0,0.000000,3,182.0950,OUT010,1998,NaN,NaN,0
4,8.930,0.0,0.000000,4,53.8614,OUT013,1987,2.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.0,0.056783,6,214.5218,OUT013,1987,2.0,NaN,1
8519,8.380,1.0,0.046982,5,108.1570,OUT045,2002,NaN,NaN,1
8520,10.600,0.0,0.035186,9,85.1224,OUT035,2004,0.0,NaN,1
8521,7.210,1.0,0.145221,6,103.1332,OUT018,2009,1.0,NaN,2
8522,14.800,0.0,0.044878,1,75.4670,OUT046,1997,0.0,NaN,1

In [13]:
x.drop(['Outlet_Identifier','Outlet_Location_Type'],axis=1,inplace=True)

In [14]:
x

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Type
0,9.300,0.0,0.016047,0,249.8092,1999,1.0,1
1,5.920,1.0,0.019278,1,48.2692,2009,1.0,2
2,17.500,0.0,0.016760,2,141.6180,1999,1.0,1
3,19.200,1.0,0.000000,3,182.0950,1998,NaN,0
4,8.930,0.0,0.000000,4,53.8614,1987,2.0,1
...,...,...,...,...,...,...,...,...
8518,6.865,0.0,0.056783,6,214.5218,1987,2.0,1
8519,8.380,1.0,0.046982,5,108.1570,2002,NaN,1
8520,10.600,0.0,0.035186,9,85.1224,2004,0.0,1
8521,7.210,1.0,0.145221,6,103.1332,2009,1.0,2
8522,14.800,0.0,0.044878,1,75.4670,1997,0.0,1

In [15]:
x = x.fillna(x.mean())

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [18]:
from sklearn import preprocessing
from sklearn import utils
lab = preprocessing.LabelEncoder()
y_train = lab.fit_transform(y_train)

In [19]:
x

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Type
0,9.300,0.0,0.016047,0,249.8092,1999,1.000000,1
1,5.920,1.0,0.019278,1,48.2692,2009,1.000000,2
2,17.500,0.0,0.016760,2,141.6180,1999,1.000000,1
3,19.200,1.0,0.000000,3,182.0950,1998,0.761819,0
4,8.930,0.0,0.000000,4,53.8614,1987,2.000000,1
...,...,...,...,...,...,...,...,...
8518,6.865,0.0,0.056783,6,214.5218,1987,2.000000,1
8519,8.380,1.0,0.046982,5,108.1570,2002,0.761819,1
8520,10.600,0.0,0.035186,9,85.1224,2004,0.000000,1
8521,7.210,1.0,0.145221,6,103.1332,2009,1.000000,2
8522,14.800,0.0,0.044878,1,75.4670,1997,0.000000,1

In [20]:
y_train

array([ 140, 2021, 2683, ..., 1077, 2039, 2534], dtype=int64)

In [21]:
from sklearn.svm import SVC
classifier=SVC(kernel='rbf',random_state=0)
classifier.fit(x_train,y_train)

SVC(random_state=0)

In [22]:
print(classifier.predict([[5.920 ,1.0 ,0.019278 ,1 ,48.2692 ,2009 ,1.000000 ,2]]))

[1319]